nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #23232e;
  height: 8vh;
}
.nav-list {
  list-style: none;
  display: flex;
  z-index: 1000;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  z-index: 1000;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.nav-list :hover {
  text-decoration: none;
  background: linear-gradient(45deg, #7f37c9, #0a66c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: 0.3s;
}
nav a {
  color: white;
  text-decoration: none;
}

.logo-txt {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

#perfil-foto {
  width: 15vh;
  height: 12vh;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0a66c2;
}
.p-foto {
  display: block;
  align-items: center;
  font-size: 20px;
}
.perfil {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px;
}
