nav {
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #23232e;
  height: 8vh;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: #23232e;
  height: 8vh;
  padding: 0 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 36px;

  padding: 0;
  margin: 0;

  justify-self: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  z-index: 1000;
}

.nav-list a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 60vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 998;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.nav-list :hover {
  text-decoration: none;
  background: linear-gradient(45deg, #7f37c9, #0a66c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: 0.3s;
}
nav a {
  color: white;
  text-decoration: none;
}

.logo-txt {
  font-size: 18px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

#perfil-foto {
  width: 15vh;
  height: 12vh;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0a66c2;
}
.p-foto {
  display: block;
  align-items: center;
  font-size: 20px;
}
.perfil {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

/* user */
.user-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.user-panel {
  position: absolute;
  top: 9vh;
  right: 0;
  width: 16vw;
  height: 92vh;
  background: #23232e;
  color: white;

  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;

  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  z-index: 999;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .user-panel {
    top: 10vh;
    width: 50vw; /* só isso */
    max-width: 320px; /* opcional */
  }
}
.user-panel.active {
  transform: translateX(0);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #555;
  margin-bottom: 10px;
}

aside button {
  padding: 10px 14px;
  border: none;
  background: #7d4bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* ======================================= button darklight ================================= */
:root {
  --color: #9176ff;
  --dark-color: #2b2b2b;
  --light-color: #f7f7f7;
  --light-icon-color: #ffde59;
  --dark-icon-color: #9176ff;
}

/* BOTÃO */
.btn {
  background-color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 10em;
  padding: 0 4px;

  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 -2px 2px rgba(0, 0, 0, 0.1);

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* INDICADOR */
.btn_indicator {
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;

  position: absolute;
  left: 2px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* ÍCONE */
.btn_icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_icon {
  color: var(--light-icon-color);
  font-size: 1.2rem;
}

/* ANIMAÇÃO */
.btn_icon.animated {
  animation: spin 0.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* DARK MODE */
body.darkmode {
  background-color: var(--dark-color);
}

.darkmode .btn {
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.3),
    inset 2px 0 4px rgba(0, 0, 0, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.3);
}

.darkmode .btn_indicator {
  transform: translateX(30px);
  background-color: var(--dark-color);
}

.darkmode .btn_icon {
  color: var(--dark-icon-color);
}
